body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

#movies-container {

}

.movie {
	display: inline-flex;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: stretch;
	margin-left: 0;
	margin-right: 0;
}
.card-deck .card {
  display: block;
	margin: 10px;
  flex-basis: 20%; /* change this value for each breakpoint*/
}

@media screen and (min-width: 576px) {
	.card-deck .card {
		flex-basis: 33%;
	}
}

@media screen and (min-width: 992px) {
	.card-deck .card {
		flex-basis: 25%;
	}
}

@media screen and (min-width: 1200px) {
	.card-deck .card {
		flex-basis: 20%;
	}
}
